
/*fonts*/
$font-primary:inter;
$font-secondary:italic;

/*color*/
$color-primary:#fff5dd;
$color-secondary:#edc454;

/* diseño login*/

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

.login--h2{
    font-family: $font-primary;
    font-size: 4em;
    margin-top:50px;
    text-align: center;
}
.login--div2 {
    margin-bottom: 40px;
    font-family: $font-secondary;
    font-size: 1.1em;
    text-align: center;
}
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;


.form--input{
    font-family:$font-primary;
    font-size: 1.2em;
    text-align: center;
    color: $color-secondary;
    padding: 10px;
    margin: 15px;
    width: 15em;
    border: none;
    border-bottom: 2px solid $color-secondary;
    background: transparent; 

}

.form--submit{
    font-family: $font-primary;
    font-size: 1.1em;
    color: #1d1e1e;
    background: $color-secondary;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 40px;
    width: 20%;
    

    &:hover{
    color: #000000;
    background-color:#caac57 ;
}
}
}



.login--cuenta{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $font-primary;

&__enlace{
    color: $color-secondary;

&:hover{
    color:#caac57;
    transition: .5s;
}
}
}

/* RESPONSIVO */

/* Pantallas M */
@media (max-width: 1024px) {
    .login--h2 {
    font-size: 2.5em;
    }

    .form--input {
    width: 60%;
    font-size: 1.1em;
    }

    .form--submit {
    width: 40%;
    font-size: 1em;
    }

    .login--div2 {
    font-size: 1em;
    }
}

  /* Pantallas S) */
@media (max-width: 768px) {
    .login--h2 {
    font-size: 1.5em;
    margin-top: 20px;  
    }

    .form--input {
    width: 70%;
    font-size: 1em;
    }

    .form--submit {
    width: 50%;
    font-size: 1em;
    }

    .login--div2 {
    font-size: 0.9em;
    }
}

  /* Pantallas XS */
@media (max-width: 480px) {
    .login--h2 {
    font-size: 1em;
    margin-top: 10px;  
    }

    .form--input {
    width: 70%;
    font-size: 0.9em;
    }

    .form--submit {
    width: 80%;
    font-size: 0.9em;
    }

    .login--div2 {
    font-size: 0.8em;
    }
}