
/*fonts*/
$font-primary:inter;
$font-secondary:italic;

/*color*/
$color-primary:#fff5dd;
$color-secondary:#edc454;

/*diseño body*/

#body {
    margin: 0 auto;
    width: 100%;
    background-color: #1d1e1e;
    color: $color-primary;
    
}

/*diseño main*/
.main{
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh ;
    
}

